*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 1fr 5fr 2fr;
    grid-template-columns: 1fr;
}

.turn{
    grid-area: 1 1 2 2;
}
.winner{
    grid-area: 2 1 3 2;
}

.game-board-container{
    grid-area: 3 1 4 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.game-board > div{
    height: 120px;
    width: 120px;
}
.game-board > div:nth-child(-n+5):not(:nth-child(3)){
    border-bottom: solid black;
    border-right: solid black;

}
.game-board > div:nth-child(7),.game-board > div:nth-child(8){
    border-right: solid black;
}
.game-board > div:nth-child(3),.game-board > div:nth-child(6){
    border-bottom: solid black;
}


.restart-container{
    grid-area: 4 1 5 2;
   
}